body {
    width: 100%;
}

#root {
    width: 100%;
    height: 500px;
}

.container {
    display: block;
    width: 70vw;
    height: 200px;
    margin: calc((500px - 200px) / 2) auto;
}

.custom-page-link {
    background-color: #222;
    color: #fff;
    border: none;
    outline: none;
}

.custom-page-link:hover {
    background-color: #fff !important;
    color: #222 !important;
}

.page-item.active .page-link {
    border: none;
    box-shadow: none;
    outline: 1px dashed #222 !important;
    background-color: #fff !important;
    color: #222 !important;
}
