@font-face {
    font-family: RickAndMorty;
    src: url("app/assets/fonts/get_schwifty.ttf")
}

body {
    width: 100%;
}

#root {
    width: 100%;
    height: 500px;
}

.container {
    display: block;
    width: 70vw;
    height: 200px;
    margin: calc((500px - 200px) / 2) auto;
}

.custom-page-link {
    background-color: #222;
    color: #fff;
    border: none;
    outline: none;
}

.custom-page-link:hover {
    background-color: #fff !important;
    color: #222 !important;
}

.page-item .page-link {
    outline: none;
    border: 1px solid #222;
}

.page-item.active .page-link {
    outline: none;
    box-shadow: none;
    border: 1px dashed #222 !important;
    background-color: #fff !important;
    color: #222 !important;
}

.no-text-decoration {
    text-decoration: none;
}

.rick-and-morty-title {
    font-family: RickAndMorty, serif;
}

.episodes-card {
    height: 300px !important;
}

.characters-card {
    height: 750px !important;
}